* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
}

nav {
    background-color: #00879E;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 1rem 0.5rem;
    position: sticky;
    top: 0;
    z-index: 2;
}

nav a, .redes-sociales {
    color: #FFF2DB;
    font-size: 1.4rem;
    text-decoration: none;
}

a:hover {
    color: #a0998d;
}

nav a:active {
    color: #FFAB5B;
    font-size: 1.4rem;
    text-decoration: none;
}


#welcome-section {
    background-color: #003092;
    display: flex;
    align-items: center;
    color: #FFF2DB;
    justify-content: center;
    padding: 10px 0;
    margin: 0;
}

#welcome-section img {
    width: 50%;
    margin-bottom: 5%;
    padding-left: 5%;
    
}

#welcome-section div {
    width: 40%;
}

.subtitulo-proyectos {
    text-align: center;
    grid-column: 1/-1;
    padding: 1rem;
    font-size: 2rem;
}

i {
    color: #FFAB5B;
}

#projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #FFAB5B;
    color: #fff;
}

.nombre-proyecto {
    text-decoration: none;
}

.nombre-proyecto:visited {
    color: #000;
}

.nombre-proyecto:hover {
    color: #FFF2DB;
}

.project-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
}

.tech-circle {
    height: 3rem;
}

.project-image {
    height: 200px;
    object-fit: cover;
}

#contact, footer {
    background-color: #FFF2DB;
}

.encabezado-servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.encabezado-servicios h2 {
    font-size: 2rem;
    padding: 5px;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 25vh; 
}

form label {
    margin: 10px 0;
    font-size: 19px;
}

textarea:focus, input:focus {
    outline: none; /* Remueve el borde azul */
    border: 2px solid #000; /* Agrega un borde personalizado */
}

form input {
    width: 90%;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #000;
    font-size: 19px;
}

form input:active {
    border: none;
}

form textarea {
    grid-column: 1/-1;
    width: 45%;
    height: 20rem;
    background: transparent;
    border: 1px solid #000;
}

form input[type="submit"] {
    background-color: #FFAB5B;
    margin: 10px 0;
    border: 0;
}

footer ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}

.redes-sociales {
    color: #000;
}

@media (max-width: 400px) {
    #welcome-section {
        flex-direction: column;
    }

    #welcome-section img {
        width: 100%;
    }

    #welcome-section div {
        width: 100%;
    }
}
  